In [1]:
import pandas as pd

In [43]:
df = pd.read_csv("C:/Users/Ehsan/knime-workspace/L2-DS KNIME Analytics Platform for Data Scientists - Advanced/data/AB_NYC_2019.csv",engine='python')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539.0,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19T00:00,0.21,6.0,365.0
1,2595.0,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21T00:00,0.38,2.0,355.0
2,5295.0,Beautiful 1br on Upper West Side,7702.0,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135.0,5.0,53.0,2019-06-22T00:00,0.43,1.0,6.0
3,22918.0,loft bed - near transportation-15min to times sq,32294.0,Ssameer Or Trip,Manhattan,Harlem,40.82279,-73.95139,Private room,60.0,3.0,11.0,2019-01-03T00:00,0.87,3.0,219.0
4,403668.0,Gorgeous Sunny; Spacious 1 bdrm in East Village,2013117.0,Katya,Manhattan,East Village,40.72812,-73.97966,Entire home/apt,147.0,2.0,16.0,2019-01-02T00:00,0.18,1.0,0.0

In [44]:
# Define in which columns to look for missing values and remove rows with missing values
df.dropna(subset=['last_review'],inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38843 entries, 0 to 49078
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38700 non-null  float64
 1   name                            38837 non-null  object
 2   host_id                         38843 non-null  float64
 3   host_name                       38827 non-null  object
 4   neighbourhood_group             38843 non-null  object
 5   neighbourhood                   38843 non-null  object
 6   latitude                        38843 non-null  float64
 7   longitude                       38843 non-null  float64
 8   room_type                       38843 non-null  object
 9   price                           38843 non-null  float64
 10  minimum_nights                  38843 non-null  float64
 11  number_of_reviews               38843 non-null  float64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  38843 non-null  float64
 15  availability_365                38843 non-null  float64
dtypes: float64(10), object(6)
memory usage: 5.0+ MB

In [45]:
# Convert to date and time and Remove Time values
df["last_review"] = pd.to_datetime(df['last_review'])

In [48]:
# Extract the day of the week
df["Day of Week"] = df["last_review"].dt.day_name()

In [78]:
# Count the number of last reviews on each day of the week.
df1 = df.groupby(df["Day of Week"]).count().name.sort_values(ascending = False)

In [79]:
df1

Day of Week
Sunday       9382
Monday       7175
Saturday     5519
Tuesday      4738
Friday       4476
Wednesday    3995
Thursday     3552
Name: name, dtype: int64